body{
    margin: 0px;
    padding: 0px;
    background: lightgoldenrodyellow;
}
.nav{
    background: rgb(4, 4, 130);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: green;
}